/deep/ .bar {
  fill: steelblue;
}

/deep/ .axis text {
  font: 10px sans-serif;
}

/deep/ .axis path,
 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/deep/ .x.axis path {
  display: none;
}
